/* $Id$ */

@CHARSET "UTF-8";
.hovering {
  background-color: #d8f1f8;
  cursor: pointer;
  cursor: hand;
}

.selected {
  background-color: #479bff;	
}

#configure {
  display: none;
}
#status-modifiers {
  text-align: right;
}
#status-modifiers-label {
  margin-right: 2px;
}
#status-modifiers a {
  float: right; 
  text-align: left;
}
#status-select-menu a {
  color: black;
  font-weight: normal;	
}

#edit-selector-route-wrapper,
#edit-selector-class-wrapper,
#edit-selector-tag-wrapper {
  float: left;
}

.ui-dialog .ui-state-error {
  padding: .3em;
}
.validateTips {
  border: 1px solid transparent; 
  padding: 0.3em;
}

#color-select td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  text-align: center;	
}

#color-select thead {
  background-color: #f2f2f2;	
}

#dtc-path-wrapper {	
  float:left;
  height: 28px;
  overflow: hidden;
  position: relative;
  padding-top: 4px;
  width: 75%;
}

#dtc-scroll-left {
  height: 20px;
  position: absolute;
  width: 7px;
  z-index: 100;
}

#dtc-scroll-right {
  background-color: ##3399cc;
  height: 20px;
  position: absolute;
  right: 0px;
  width: 7px;
  z-index: 100;
}
.scroll-left-cursor {
  cursor:  W-resize;
}

.scroll-right-cursor {
  cursor:  E-resize;
}

#dtc-path {
  left: 0px;
  margin: 0 7px 0 7px;
  position: relative;
  white-space:nowrap;
}

#dtc-path .ui-state-default.route-active {
  font-weight: bold;
}

#dtc-path .ui-state-default.route,
#dtc-path .ui-state-default.route-new {
  padding-right: 6px;
}

#toolbar-error {
  background-color: #ffc7c7;
  border-color: #fa2019;
  border-width: 1px;
  border-style: solid;
  display: none;
  margin: 0 0 0 5px;
  padding: 2px;
}

#cluetip-waitimage {
  background-color: white;
  border: none;	
}

#cluetip-outer {
  background-color: #f2faff;  
  
}
.cluetip-default,
.cluetip-default div {
  background-color: #f2faff;
  color: black;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
}

.cluetip-default #cluetip-outer {
  background-color: #f2faff;
}

.cluetip-default #cluetip-inner {
  padding: 5px;
}
#jscolor-border {
  background-color: black;
  border: none;
  margin: 0;
  padding: 0;
}

#jump-link {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);    
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
  display: none;
  padding: 5px;
  position: absolute;	
  z-index: 100;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { 
  width: 100%;
}
.ui-tabs-vertical .ui-tabs-nav {
  float: left;
  padding: .2em .1em .2em .2em; 
  width: 8%; 
}
.ui-tabs-vertical .ui-tabs-nav li {
  border-bottom-width: 1px !important; 
  border-right-width: 0 !important;
  clear: left; 
  margin: 0 -1px .2em 0;
  width: 100%;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
  border-right-width: 1px;
  border-right-width: 1px;
  padding-bottom: 0;
  padding-right: .1em;
}
.ui-tabs-vertical .ui-tabs-panel {
  float: right;
  padding: 1em; 
  width: 88%;
}
