/* $Id$ */

@CHARSET "UTF-8";
#dtc-toolbar {
  width: 600px;
}
#dtc-toolbar tr, tr.even {
  background-color: #fff;
}
#ui-dialog-title-toolbar {
  font-size: 14px;
}

#dtc-toolbar table {
  border-collapse: separate;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

#dtc-toolbar table td,
#dtc-toolbar table th	{
  padding: 0 5px 0 0;
}

#dtc-toolbar table.style-1 {
  border: 3px solid #D0D0D0;
  border-collapse: separate;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 0 5px 0;
}

#dtc-generate-theme-form input {
  width: auto;	
}

#border-settings select,
#dtc-toolbar input{
  width: 100%;
}

.dtc-buttonset-wrapper {
  margin-bottom: 15px;	
}

.structure-mouseover {
  background-color: #CDD0FF;	
}

.selected-structure {
  background-color: #666666;
}

#regions {
  width: 100%;
}

#regions td {
  text-align: center;
  vertical-align: middle;	
}

.undo-redo-field {
  float: left;
  margin-left: auto;
}

.undo-redo-wrapper {
  background-color: #fefefe;
  border: solid 1px #A6C9E2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  color: black;
  cursor: pointer;
  float: left;
  font-weight: bold;
  padding:0px;
  margin-left:3px;
  margin-right:3px;  
}

.undo-redo-wrapper:hover, #generate:hover {
  background-color: #F0F0F0;
}
.toolbar-header-button {
  background-color: #fefefe;
  border: solid 2px #0649cf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  color: black;
  cursor: pointer;
  float: left;
  font-weight: bold;
  padding: 1px 2px 1px 2px;
  margin-left:3px;
  margin-right:3px;
}

#restore-hidden, #clear-all {
  border: solid 1px #A6C9E2;
}
#restore-hidden {
  clear: both;	
  margin-top: 3px;
  white-space: normal;
}

#buttons {
  font-size: 11px;
  margin-left: 10px;
  position: absolute;
  right: 2.5em;
  top: 10%;
  }

#turn-off {
  float: left;
  margin-right: 100px;
}

.ui-dialog-title-toolbar {
  vertical-align: middle;
}

#toolbar-opacity-slider-wrapper {
  background-color: white;
  border: solid 1px #A6C9E2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  padding: 4px 9px 4px 9px;
  width: 100px;
}

.toolbar-opacity-100 {
  -ms-filter: "progd:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;  	
}

.toolbar-opacity-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;   
}

.toolbar-opacity-80 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;   
}

.toolbar-opacity-70 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;   
}

.toolbar-opacity-60 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;   
}

.toolbar-opacity-50 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;   
}

.toolbar-opacity-40 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;   
}


#popup-control {
  background:none repeat scroll 0 0 #333333;
  border-right:1px solid #000000;
  border-top:1px solid #000000;
  bottom:0;
  color:#FFFFFF;
  cursor:pointer;
  font-size:13px;
  left:0;
  opacity:0.8;
  padding:3px 5px;
  position:fixed;
  z-index:10002;
}

.ui-widget .dtc-ui-state-active {
  background: #f5f8f9 url(../plugins/css/redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
  border: 1px solid #79b7e7; 
  color: #e17009;
  font-weight: bold; 
}

#class-selector-menu, #status-select-menu {
  z-index: 100000;	
}
#class-selector-menu:hover, #class-selector-button:hover,
#status-select-menu:hover, #status-select-button:hover {
  text-decoration: none;
}

.dtc-float-left,
.dtc-floating-form-item .form-checkboxes .form-item,
.dtc-floating-form-item .form-radios .form-item,
#background-position-x-value,
#background-position-y-value {
  float:left;
}

#background-position-x-label,
#background-position-y-label {
  font-weight: bold;
}

.bubble-trigger,
.form-item label.option {
  display: inline-block;  
}

.slider-type-1 {
  width: 90px;
  margin-left: 10px;
}

.slider-type-2 {
  width: 160px;
  margin-left: 10px;
}

.slider-type-3 {
  width: 90px;
  margin-left: 25px;
  margin-top: 2px;
}

.slider-type-4 {
  width: 60px;
  margin-left: 10px;
}

#selector-buttons {
  clear: both;
}

.dtc-floating-label {
  float: left;
  font-weight: bold;
}

.dtc-label {
  font-weight: bold;
}

.dtc-width-10 {
  width: 10%;
}
.dtc-width-25 {
  width: 25%;
}
.dtc-width-55 {
  width: 55%;
}

.dtc-table-header {
  border-color: #D3E7F4;
  border-style: solid;
  border-width: 2px 0;
  font-weight: bold;
  text-align: center;
}

td.style-1 {
  vertical-align: top;
}

.dtc-bordered {
  border: 3px solid #D0D0D0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}
